/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html, body{
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    background-color: #0D1117;
    min-height: 100vh; /* Set a minimum height of the viewport height */
}

/* Basic styling for the header */
header {
    background-color: #161B22;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* Navigation styling */
nav {
    background-color: #444;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    height: 100%;
  }

.grid-container{
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: auto auto auto;

}
@media screen and (max-width: 500px) {
    .grid-container{
        grid-template-columns: auto;
    
    }
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.box{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(49, 48, 49);
    border-radius: 20px;
    min-width: 10rem;
    min-height: 10rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background: linear-gradient(45deg, rgba(255,255,255,0.05) -20%, rgba(255,255,255,0.2) 30%, rgba(255,255,255,0.05) 90%);
}
.box-title{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #1F6FEB;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.porfolio-link{
    color: rgb(14, 137, 213);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;

}

nav a {
    text-decoration: none;
    padding: 0.5em 1em;
}

a:hover{
    text-decoration: underline;
}
/* Main section styling */
main {
    padding: 1em;
}

/* Footer styling */
footer {
    background-color: #161B22;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}


