/* Tool tip */
#tool-tip{
    position: relative;
}

#tool-tip>span{
    position: absolute;
    left: 0;
    top: -1rem;
    padding: .1rem .3rem;
    background-color: #4a56ff;
    font-size: .9rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(1rem);
}
#tool-tip:hover>span {
    transform: translateY(0);
    visibility: visible;
    opacity: 0.9;
 }
 /*End Tool tip */

 .fa-solid{
   color: #0254BD;
 }
 
 /* Drop Shadow */
 .first {
    font-size: 5rem;
    filter: drop-shadow(5px 0px 5px  #fdfdfdb6); /* horizontal vertical blur and color */
 } 
 /*End Drop Shadow */


/* Spinner */
 .spinner {
   border: 4px solid rgba(247, 247, 247, 0.1);
   border-left-color: rgba(247, 247, 247, 0.1);
   border-left-color: #000;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin-full 1s linear infinite;
 }

 @keyframes spin-full {
    to {
       transform: rotate(360deg);
    }
 }
/*End Spinner */



/* Self drawing SVGs */
.logo {
    width: 100px;
    height: 100px;
  }
  .circle {
    fill: none;
    stroke: #4CAF50;
    stroke-width: 7;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: circle-draw 2s ease forwards
  }
  
  .check {
    fill: none;
    stroke: #4CAF50;
    stroke-width: 7;
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: check-draw 1s ease forwards 2s
  }
  
  @keyframes circle-draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes check-draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  /*End Self drawing SVGs */

/* Spinning Card */
  .card {
   perspective: 900px;
   aspect-ratio: 2/3;
   cursor:pointer;
   width: 200px;
   height: 300px;
 }

 .card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
 }

 .card:hover .card-inner {
    transform: rotateY(180deg);
 }

 .card-front,
 .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 5px;
 }

 .card-front {
    background: url(https://i.ebayimg.com/images/g/HWkAAOSwGlxlTx-E/s-l1200.webp) no-repeat center center/cover;
    background-color: #333;
 }
 
 .card-back {
    color: white;
    background: url(https://m.media-amazon.com/images/I/61hiEHj2o4L._AC_UF1000,1000_QL80_.jpg) no-repeat center center/cover;
    transform: rotateY(180deg);
 }
 /* END Spinning Card */

 /* Neon Text */
.neon-text {
   font-weight: 700;
   animation: glow 1s infinite ease-in-out alternate;
   color: #fff;
}
@keyframes glow {
   0% {
      text-shadow:
         0 0 5px #ffffff4f, 0 0 10px #ffffff4f,
         0 0 20px #ffab104f, 0 0 40px #ffab104f;
   }

   100% {
      text-shadow:
         0 0 5px #ffffffce, 0 0 10px #fff,
         0 0 10px #ffb730, 0 0 40px #ffab10;
   }
}

/* END Neon Text */